@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic');
body {
    text-align: center;
  }
  /*Logo image style
___________________________________________________________________*/
.logo-img{ 
  width: 50px;  
}

/*Background Image */
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: url('../img/bg_light_pink_flower_img.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(204, 45, 45);
}
/*Navbar
______________________________________*/
.navbar{
  padding: 0.8rem;
}
.navbar li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
 h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    margin: 0.2em;
  }
  
  h2{
    margin: 1em 0 0.25em;
    text-decoration: underline;
  }
  h2:first-of-type {
    margin-top: 0.5em;
  }
  table,
  tr,
  td {
    border: 1px solid brown;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  } 
  tr {
    height: 30px;
  } 
  td {
    width: 30px;
  }
  
  input[type="number"] {
    width: 8em;
    border: 2px solid brown;
    text-align: center;
  }
  /*padding
_______________________________________________________________________________*/
.padding{
  padding: 2px;
}
.featured{
  margin: 0 auto;
  padding-top: 1rem;
}
.featured hr {
  border-top: 2px solid rgb(245, 38, 165);
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  /*footer Section
  _________________________________________________________________________________*/
  footer{
    /* background-color: #159ad8; */
    color: brown;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid rgb(245, 38, 165);
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:250px ){
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  table,
  tr,
  td {
    border: 1px solid brown;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  } 
  tr {
    height: 15px;
  } 
  td {
    width: 15px;
  }
  .navbar{
    padding: 0.4rem;
  }
  .navbar li{
    padding-right: 10px;
  }
  .nav-link{
    font-size: 0.8em !important;
  }
  .display-3{
    font-size: 250%;
  }
}
@media screen and (min-width:350px) and (max-width:550px){
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  table,
  tr,
  td {
    border: 1px solid brown;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  } 
  tr {
    height: 20px;
  } 
  td {
    width: 20px;
  }
  .display-3{
    font-size: 300%;
  }
}
@media screen and (min-width:551px) and (max-width:1300){
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  table,
  tr,
  td {
    border: 1px solid brown;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  } 
  tr {
    height: 30px;
  } 
  td {
    width: 30px;
  }
  .display-3{
    font-size: 400%;
  }
}